.header-image {
    background-image: url('/pattern.jpeg'); /* Adjust the path as needed */
    text-align: center; /* Centers the text horizontally */
    display: flex;
    justify-content: center; /* This centers the child elements (the h1) horizontally */
    align-items: center; /* This centers the child elements (the h1) vertically */
    height: 300px; /* Adjust based on your image and preference */
}

h1 {
font-family: Helvetica;
font-size: 100px;
font-weight: bold;
color: khaki;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: left; 
    width: 100%; /* Ensures it spans the entire width */
    margin: 0; /* Removes default margin */
}

img {
    display: block; /* Ensures the image does not have extra space around it */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    width: auto; /* Adjusts width to maintain aspect ratio */
    height: auto; /* Adjusts height to maintain aspect ratio */
}

h3 {
    font-family: Helvetica;
    font-weight: bold;
    color: black;
    text-align: left; /* Aligns text to the left */
}

p {
    font-family: Helvetica;
    color: black;
    text-align: left; /* Aligns text to the left */
}

p span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}


#brush {
    background-color: MediumSpringGreen;
    margin: 30px 0px;
  }
  
#frame {
    background-color: LightCoral;
    margin: 30px 0px;
  }
  
#paint {
    background-color: SkyBlue;
    margin: 30px 0px;
  }
  